

*{margin: 0; padding: 0; font-family:sans-serif;}

.mainSections{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.mainSections.primary{
    background-size: cover;
    background-position: center;
    color: #FFF;
}
.mainSections.secondary{background-color: #FFF;}
.infoZone{
    display: flex;
    width: 75%;
    height: 90%;
}
.description, .content{ 
    width: 40%;
    margin: 0 auto;
    padding: 5% 0;
}

.listIcon{ list-style: none;display: flex;margin-bottom: 1.8vh;}
.listIcon span{
    color: transparent;
    -webkit-text-stroke: 1px white; /* Adiciona uma borda branca ao redor do texto */
    font-size: 1.8em;
}
.listIcon span.active{color: #5cb85c;-webkit-text-stroke:1px #5cb85c;}
.listAttributes h5{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #5cb85c;
}
.listAttributes h5 span{margin-right: 2%;}
.listAttributes ul{
    position: relative;
    list-style-type:none;
}
.listAttributes ul .iconLosango{
    color: #5cb85c;
    margin-right: 1%;
}
.content label, p{
    font-size: 1.15em;
}
.content form{
    text-align: center;
    background-color: #FFF;
    color: #222;
    padding: 5%;
    border: none;
    border-radius: 0.5em;
}
.infoForm{
    position: relative;

}
.content label{
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 3%;
    font-weight: bold;
}
.content input{
    display: block;
    width: 96%;
    padding: 3% 2%;
    margin-top: 3%;
    border: 1px solid #53a753;
    border-radius: 0.5em;
}
.input-group{
    display: flex;
    margin-bottom: 3%;
    width: 100%;
}
.input-group input{
    width: 89%;
    margin: auto;
    padding: 6% 4%;
    margin-top: 3%;
    }
.content button{
    display: block;
    background-color: #5cb85c;
    color: #FFF;

    border: none;
    border-radius: 0.3em;
    text-transform: uppercase;
    font-weight: bold;
}

.description.secondary .textDescription{
    margin-bottom: 15%;
}

.btnLink{
    display: block;
    background-color: #0275d8;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
/* Area para propríedade de tamanho dos icons */
.content.secondary{
    position: relative;
    display: flex;
}
.content.secondary .right,.left{

    display: block;
    height: auto;
    flex: 1;
    flex-direction: column;   
}
.right div, .left div{
    position: relative;
    display: block;
    font-weight: bold;
    text-align: center;
    color: #5cb85c;

}
.right img, .left img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.right div p, .left div p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@media only screen and (max-width:3840px) {
    .infoZone{
        display: flex;
        width: 75%;
        height: 90%;
    }
    .description, .content{ 
        width: 38%;
        margin: 0 auto;
        padding: 5% 0;
    }
    .logo{font-size: 1.5em;margin-bottom: 5%;}
    .titleDescription{font-size: 2.4em; margin-bottom: 5%;}
    .pDescription{
        font-size: 1.2em;
        margin-bottom: 5%;
    }

    .listAttributes ul li{
        margin-bottom: 3%;
    }
    .content label, p{
        font-size: 1.15em;
    }
    .content form{
        display: block;
        margin: auto;
        text-align: center;
        background-color: #FFF;
        color: #222;
        padding: 4%;
        border: none;
        border-radius: 0.5em;
    }
    .infoForm{
        position: relative;
        width: 90%;
        margin: auto;
        margin-bottom: 2vh;
        font-size: 0.98em;
    }
    .infoForm p {
        margin: auto;
        width: 90%;
        margin-top: 2%;
        font-size: 0.98em;
    }
    .content label{
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 5%;
        font-weight: bold;
        font-size: 1em;
    }
    .content input{
        display: block;
        width: 96%;
        padding: 3% 2%;
        margin-top: 3%;
        border: 1px solid #53a753;
        border-radius: 0.5em;
    }
    .input-group{
        display: flex;
        margin-top: 4%;
        margin-bottom: 0%;
        width: 100%;
    }
    .input-group input{
        width: 89%;
        margin: auto;
        padding: 6% 2%;
        margin-top: 4%;
        }
    .content button{
        display: block;
        background-color: #68bc68;
        color: #FFF;
        width:100%;
        padding: 2.5% 1%;
        margin-top: 4%;
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: bold;
    }
    .description.secondary{
        font-size: 1.2em;
        line-height: 1.8;
    }
    .description.secondary .textDescription{
        margin-bottom: 15%;
    }
    
    .btnLink{
        width:85%;
        padding: 2% 1%;
        margin-top: 4%;
        font-size: 0.9em;
    }
    /* Area para propríedade de tamanho dos icons */
    .content.secondary{
        width: 50%;
        height: 68%;
        padding: 0;
        padding-top: 3%;
        margin-left: 3%;
        /* background-color: aqua; */
   }
    .content.secondary .right,.left{
        width: 100%;
        margin: 0%;  
    }
    .right div, .left div{
        margin: auto;
        width:98%;
        height: 33%;    
    }
    .right img, .left img{
        width: auto;
        top:10%;
        height: 55%;

    }
    .right div p, .left div p{
        font-size: 0.8em;
        width: 80%;
        bottom: 0;
        top: 75%;
        
    }
    
}